<!-- Modal -->
<link rel="stylesheet" href="/css/chipsec_modules.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentModalLabel">Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre>
                    <code class="language-shell" id="modal-content-box">
                    </code>
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<ul class="mt-5 nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Modules</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Scripts</a>
</ul>


<div class="tab-content pt-3" id="tab-content">
    <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
        <div class="card">
            <div class="card-header">
                <h2>Execute Chipsec Modules</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Execute Module</th>
                                <th>Vulnerability</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button id="common-smm" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.smm</button></td>
                                <td>Compatibility SMRAM is not locked</td>
                                <td>This CHIPSEC module simply reads SMRAMC and checks that D_LCK is set</td>
                            </tr>
                            <tr>
                                <td><button id="common-spi-desc" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.spi_desc</button></td>
                                <td>SPI flash descriptor is not protected</td>
                                <td>This module simply reads the Flash Descriptor and checks that software cannot modify the Flash Descriptor itself. If software can write to the Flash Descriptor, then software could bypass any protection defined by it.</td>
                            </tr>
                            <tr>
                                <td><button id="common-spi-lock" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.spi_lock</button></td>
                                <td>SPI flash controller is not locked</td>
                                <td>The configuration of the SPI controller, including protected ranges (PR0-PR4), is locked by HSFS[FLOCKDN] until reset. If not locked, the controller configuration may be bypassed by reprogramming these registers.</td>
                            </tr>
                            <tr>
                                <td><button id="common-bios-wp" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.bios_wp</button></td>
                                <td>SMM BIOS write protection is not correctly used</td>
                                <td>The BIOS region in flash can be protected either using SMM-based protection or using configuration in the SPI controller (PRR). This module checks both mechanisms.</td>
                            </tr>
                            <tr>
                                <td><button id="common-bios-ts" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.bios_ts</button></td>
                                <td>BIOS interface is not locked</td>
                                <td>Checks for BIOS Interface Lock including Top Swap Mode.</td>
                            </tr>
                            <tr>
                                <td><button id="common-smrr" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">common.smrr</button></td>
                                <td>SMM cache attack</td>
                                <td>This module checks to see that SMRRs (range registers) are enabled and configured.</td>
                            </tr>
                            <tr>
                                <td><button id="tools-smm-smm-ptr" type="button" class="chipsec-module-btn btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Execute Module">tools.smm.smm_ptr</button></td>
                                <td>SMI handlers use pointers/addresses from OS without validation</td>
                                <td>A tool to test SMI handlers for pointer validation vulnerabilities.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
        <div class="card">
            <div class="card-header">
                <h2>Endpoint Scripts</h2>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Script</th>
                                <th>Execution Time</th>
                                <th>Exit Code</th>
                                <th>Output</th>
                                <th>Script Contents</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% scripts.forEach(script => { %>
                                <tr>
                                    <td><%= script.script %></td>
                                    <td><%= script.execution_time %></td>
                                    <td><%= script.exit_code %></td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" onclick="showContent('<%= script.output %>')">View Output</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" onclick="showContent('<%= script.script_contents %>')">View Script</button>
                                    </td>
                                    <td><%= script.status %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script src="/js/chipsec_modules.js"></script>