<%- include('partials/header') %>

<link rel="stylesheet" href="/css/dashboard.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>OSQuery Endpoint Script Execution</h1>
    <p>Here we will show statistics and recommendations on CHIPSEC scripts in OSQuery.</p>
    <table border="1">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Script</th>
                <th>Execution Time</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.endpoint %></td>
                    <td><%= item.script %></td>
                    <td><%= item.execution_time %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

<%- include('partials/footer') %>