<%- include('partials/header') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/endpoints.css">

<div class="container">
    <% if (!singleEndpoint){ %>
    <div>
        <button id="addNode" class="btn btn-secondary" data-toggle="modal" data-target="#addNodeModal">Add Host</button>
    </div>
    <% } %>
    <!-- Endpoint cards -->
    <div class="row">
        <% if (!endpoints.length) { %>
            <h1>No endpoints found</h1>
        <% } else { %>
            <% endpoints.forEach(function (endpoint) { %>
                <% if (!singleEndpoint){ %>
                    <div class="col-md-3 g-3">
                <% } else { %>
                    <div class=”cust-grid-col”>
                <% } %>
                    <div class="card fixed-sized-card">
                        <div class="card-body">
                            <% 
                            let platformLogo;
                            switch (endpoint.platform) {
                                case "rhel":
                                    platformLogo = "/img/rhel_logo.png";
                                    break;
                                case "kali":
                                    platformLogo = "/img/kali_logo.png";
                                    break;
                                case "ubuntu":
                                    platformLogo = "/img/ubuntu_logo.png";
                                    break;
                                case "debian":
                                    platformLogo = "/img/debian_logo.png";
                                    break;
                                case "windows":
                                    platformLogo = "/img/windows_logo.png";
                                    break;
                                case "centos":
                                    platformLogo = "/img/centos_logo.png";
                                    break;
                                case "macos":
                                    platformLogo = "/img/macos_logo.png";
                                    break;
                                default:
                                    platformLogo = "/img/generic_logo.png";
                                    break;
                            }
                            %>
                            <a href="/endpoints/<%= endpoint.id %>"><img src="<%= platformLogo %>" class="card-img-top platform-img"></a>
                            <h5 id="endpoint_hostname" class="card-title">
                                <%= endpoint.hostname %>
                            </h5>
                            <p class="card-text">
                                <strong>IP:</strong> <%= endpoint.primary_ip %>
                            </p>
                            <p class="card-text">
                                <strong>MAC:</strong> <%= endpoint.primary_mac %>
                            </p>
                            <p class="card-text">
                                <strong>OS:</strong> <%= endpoint.os_version %>
                            </p>
                            <p class="card-text">
                                <strong>Uptime:</strong> <%= (endpoint.uptime / (1000 * 60 * 60 * 24)).toFixed(2) %> days
                            </p>
                            <p class="card-text">
                                <strong>Last Seen:</strong> <%= endpoint.formatted_last_seen %>
                            </p>
                            <p class="card-text">
                                <strong>Last Scan:</strong>
                                <% if (endpoint.formatted_last_scan && endpoint.formatted_last_scan !== '1/1/1970, 00:00:00') { %>
                                    <%= endpoint.formatted_last_scan %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </p>
                            <p id="endpoint_id" hidden class="endpointID">
                                <%- endpoint.id %>
                            </p>
                            <!-- Dropdown menu -->
                            <div class="dropdown position-absolute" style="top: 10px; right: 10px;">
                                <button class="btn dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton<%= endpoint.uuid %>" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= endpoint.uuid %>">
                                    <% if (endpoint.chipsec) { %>
                                        <li><a id="execute_script" class="dropdown-item" href="#">Execute a script</a></li>
                                        <li><a id="run_module" class="dropdown-item" href="/endpoints/<%= endpoint.id %>">Run a chipsec module</a></li>
                                        <li><a id="uninstall_chipsec" class="dropdown-item" href="#">Uninstall chipsec</a></li>
                                        <li><a id="delete_host" class="dropdown-item" href="#">Delete host</a></li>
                                    <% } else { %>
                                        <li><a id="install_chipsec" class="dropdown-item" href="#">Install chipsec</a></li>
                                        <li><a id="delete_host" class="dropdown-item" href="#">Delete host</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer">
                            <% if (endpoint.chipsec) { %>
                                <div class="text-muted chipsec-status">✅ Chipsec installed</div>
                            <% } else { %>
                                <div class="text-muted chipsec-status">⛔ Chipsec isn't installed </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
    <% if (singleEndpoint){ %>
        <%- include('partials/chipsec_modules') %>
    <% } %>
</div>

<div class="container py-5">
    <!-- Actions for selected endpoints -->
    <div class="fixed-bottom-left">
        <button id="deleteSelected" class="px-3 mr-3 btn btn-outline-dark" disabled>Delete Selected</button>
        <button id="installChipsecSelected" class="btn btn-outline-dark" disabled>Install CHIPSEC on Selected</button>
    </div>
</div>

<!-- Modal for Add Node -->
<div class="modal fade" id="addNodeModal" tabindex="-1" role="dialog" aria-labelledby="addNodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNodeModalLabel">Add New Host</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNodeForm">
                    <div class="form-group">
                        <label for="osType">OS Type</label>
                        <select class="form-control" id="osType">
                            <option value="deb">Debian</option>
                            <option value="rpm">rpm</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hostId">Host ID (IP/Hostname)</label>
                        <input type="text" class="form-control" id="hostId" placeholder="Enter Host ID">
                    </div>
                    <div class="form-group">
                        <label for="hostId">Authentication Method</label>
                        <select class="form-control" id="authMeth" selected="pass">
                            <option value="pass">Credentials</option>
                            <option value="key">PrivateKey</option>
                        </select>
                    </div>
                    <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username">
                    <div class="form-group" id="credentials">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password">
                    </div>
                    <div class="form-group" id="privateKeySection" style="display:none;">
                        <label for="privateKey">Private Key</label>
                        <textarea class="form-control" id="privateKey" placeholder="Paste Private Key"></textarea>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="defaultKeyCheckbox">
                            <label class="form-check-label" for="defaultKeyCheckbox">
                                Use Default Key
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Host</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/endpoints.js"></script>
<%- include('partials/footer') %>
</div>