<%- include('partials/header') %>
<link rel="stylesheet" href="/css/endpoints.css">
<script src="/js/endpoints.js"></script>
<div class="container">

    <!-- Endpoint cards -->
    <div class="row">
        <% if(!endpoints.length) { %>
        <h1>No endpoints found</h1>
        <% } else { %>
        <% endpoints.forEach(function(endpoint) { %>
        <div class="col-md-3 g-3">
            <div class="card fixed-sized-card">
                <div class="card-body">
                    <% if(endpoint.platform=="rhel") { %>
                    <img src="/img/rhel_logo.png" class="card-img-top platform-img">
                    <% } else {; %>
                    <img src="/img/ubuntu.png" class="card-img-top platform-img">
                    <% } %>
                    <h5 id="endpoint_hostname" class="card-title">
                        <%= endpoint.hostname %>
                    </h5>
                    <p id="endpoint_ip" class="card-text">
                        <%= endpoint.primary_ip %>
                    </p>
                    <p id="endpoint_mac" class="card-text">
                        <%= endpoint.primary_mac %>
                    </p>
                    <p id="endpoint_id" hidden class="endpointID">
                        <%- endpoint.id %>
                    </p>
                    <!-- Dropdown menu -->
                    <div class="dropdown position-absolute" style="top: 10px; right: 10px;">
                        <button class="btn dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton<%= endpoint.uuid %>" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                              </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton>">
                            <% if (endpoint.chipsec) { %>

                                <li><a id="execute_script" class="dropdown-item" href="#">Execute a script</a></li>
                                <li><a id="uninstall_chipsec" class="dropdown-item" href="#">Uninstall chipsec</a></li>
                            <% } else { %>
                                <li><a id="install_chipsec" class="dropdown-item" href="#">Install chipsec</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <% if (endpoint.chipsec) { %>
                <div class="card-footer text-muted">✅ Chipsec installed</div>
                <% } else { %>
                <div class="card-footer text-muted">⛔ Chipsec isn't installed </div>
                <% } %>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>

</div>

<%- include('partials/footer') %>